renpy-7.4.11-sdk.zip
renpy-7.4.11-sdk/*
Murder-*
**/*.rpyc
**/*.rpymc
Murder/game/saves/*
Murder/game/cache/*
Murder/log.txt
Murder/traceback.txt
Murder/errors.txt
Murder/choices_history.txt
cache/*
traceback.txt
log.txt
docs/next_tasks.md
Murder/game/scripts/captain/Day 2/2_Hunt/2_moody_dead.rpy
Murder/game/scripts/captain/Day 2/2_Hunt/3_moody_alive.rpy
